/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #f5d8da;
    font-family: 'Chakra Petch', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* min-height: 100vh; */
    /* position: relative; */
}

.container {
    margin: 0px 20px;
}

.pp {
    margin: 5vh auto;
    width: fit-content;
    /* border: 1px solid #57302f; */
}

img {
    width: min(320px, 55vw);
    border: 13px solid #57302f;
    border-radius: 50%;
}

.deskripsi {
    text-align: center;
    color: #57302f;
    letter-spacing: .8px;
    word-spacing: .8px;
}

.deskripsi span {
    font-weight: bold;
}

.deskripsi h3 {
    font-size: 1.3em;
}

.deskripsi h1 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: bold;
}

.deskripsi p {
    font-size: 1.1em;
    line-height: 20px;
    /* font-style: italic; */
}

.icon-sosmed a {
    text-decoration: none;
    font-size: 2em;
    margin-top: 20px;
    letter-spacing: 10px;
    color: #b5a19e;
}

.icon-sosmed a:hover{
    color: #57302f;
    letter-spacing: 10px;
    word-spacing: .8px;
}

.status-site {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    color: #b5a19e;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-block: 2vh;
    background-color: #57302f;
    color: #f5d8da;
    /* font-weight: bold; */
    text-align: center;
    line-height: 1.35rem;
}

@media only screen and (min-width: 1024px) {
    .main {
        /* width: 90vw; */
        max-width: 1241px;
        /* height: 600px; */
        /* border: 1px solid #57302f; */
        margin: 10vh auto;
        padding: 25px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        /* align-content: center; */

    }

    .pp {
        /* float: left; */
        width: fit-content;
        margin: 0;
        /* margin: 4vh 0vh 4vh 0vh; */
        /* width: fit-content; */
        /* border-right: 3px solid #57302f; */
        align-self: flex-end;
    }

    img {
        /* display: flex; */
        width: min(320px, 25vw);
        border: 14px solid #57302f;
        border-radius: 50%;
        margin-right: 20px;
   
    }

    .deskripsi {
        /* float: left; */
        /* width: min(764px, 55vw); */
        width: fit-content;
        /* height: fit-content; */
        box-sizing: border-box;
        /* margin: 6vh 0 0 0; */
        padding: 40px 0 0 20px;
        text-align: left;
        border-left: 3px solid #57302f;
        color: #57302f;
        letter-spacing: .8px;
        word-spacing: .8px;
        align-items: center;
    }

    .deskripsi h3 {
        font-size: min(30px, 2.6vw);
    }
    
    .deskripsi h1 {
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: min(55px, 4vw);
        font-weight: bold;
    }
    
    .deskripsi p {
        font-size: 1.1em;
        line-height: 20px;
        /* font-style: italic; */
    }
    
    .icon-sosmed a {
        text-decoration: none;
        font-size: 2em;
        margin-top: 20px;
        letter-spacing: 10px;
        color: #b5a19e;
    }
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}