:root {
    --oren-cerahhh: #fbd8c1;
    --oren-cerah: #d65d0e;
    --oren-gelap: #af3a03;

    /* Light Mode */
    --bg-light: #f9f5d7;

    --label-gambar: #928374;
    --bg-code-inline: #fdf3ed;
    --bg-footer-light: var(--color-headline);
    --fg-footer-light: #bdae93;
    --bg-blockquote: #ebdbb2;
    --color-heart: #fb4934;
    --tes-border: 1px solid black;

    --color-tagline: var(--oren-cerah);
    --color-headline: #3c3836;
    --color-headline-p: #665c54;
    --color-sosmed: #7c6f64;
    --color-hover: var(--oren-cerah);
    --color-box: #fbf1c7;
    --color-box-shadow: var(--oren-gelap);
    --color-box-border: var(--oren-gelap);
    --color-judul: var(--color-headline);
    --color-judul-p: var(--color-headline-p);
    --color-text: var(--color-headline);
    --color-linenum: var(--fg-footer-light);

    // Dark Mode
    --oren-cerah-dark: #fe8019;
    --bg-dark: #1d2021;
    --color-text-dark: #d5c4a1;
    --color-headline-dark: #ebdbb2;
    --color-headline-p-dark: #bdae93;
    --color-sosmed-dark: #a89984;
    --color-hover-dark: var(--oren-cerah);
    --color-box-dark: #282828;
    --color-box-shadow-dark: #504945;
    --bg-tag-dark: #32302f;
    --fg-tag-dark: var(--oren-cerah-dark);
    --bg-footer-dark: var(--color-box-dark);
    --blockquote: #3c3836;
}